.masthead_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 640px;
    margin: auto;
}

.masthead_image{
    margin: auto;
}

.footer{
    display: flex;
    justify-content: center;
}